*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

header{
	position: sticky;
    top: 0;
    z-index: 1000;

	display: flex;
	background-color: #13131d;
	padding-top: 23px;
	padding-bottom: 23px;
	width: 100%;
}

#leftHeader{
	display: flex;
	margin-left: 50px;
	width: auto;
}

#leftHeader img{
	width: 106.012px;
	height: 34.987;
	padding-right: 33px;
}

#leftHeader ul{
	list-style: none;

	width: 413px;
	display: flex;
	justify-content: space-between;
	margin-left: 33px;
	align-items: center;
}

#leftHeader select, button{
	border: none;
	background-color: #13131d;
	color: grey;
}

#rightHeader{
	display: flex;
	margin-right: 50px;
	margin-left: 340px;
	width: auto;
	align-items: center;
}

#search{
	display: flex;
	border: 1px solid grey;
	border-radius: 15px;
	height: 40px;
	width: 265px;
	align-items: center;
}

#search:hover {
	border-color: #00a3ff;
}

#search input{
	display: flex;
	border: none;
	background-color: #13131d;
	align-items: center;
	width: 220px;
	margin-left: 10px;
	height: 40px;	
}

#buttons{
	margin-left: 10px;
	height: 40px;
}

#wallet{
	height: 40px;
	width: 106px;
	background-color: #212e48;
	border-radius: 10px;
	color: white;
}

#wallet:hover{
	background-color: #00a3ff;
}

.circule{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid gray;
}