*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

header{
	position: sticky;
    top: 0;
    z-index: 1000;

	display: flex;
	background-color: #13131d;
	padding-top: 23px;
	padding-bottom: 23px;
	width: 100%;
}

#leftHeader{
	display: flex;
	margin-left: 50px;
	width: auto;
}

#leftHeader img{
	width: 106.012px;
	height: 34.987;
	padding-right: 33px;
}

#leftHeader ul{
	list-style: none;

	width: 413px;
	display: flex;
	justify-content: space-between;
	margin-left: 33px;
	align-items: center;
}

#leftHeader select, button{
	border: none;
	background-color: #13131d;
	color: grey;
}

#rightHeader{
	display: flex;
	margin-right: 50px;
	margin-left: 340px;
	width: auto;
	align-items: center;
}

#search{
	display: flex;
	border: 1px solid grey;
	border-radius: 15px;
	height: 40px;
	width: 265px;
	align-items: center;
}

#search:hover {
	border-color: #00a3ff;
}

#search input{
	display: flex;
	border: none;
	background-color: #13131d;
	align-items: center;
	width: 220px;
	margin-left: 10px;
	height: 40px;	
}

#buttons{
	margin-left: 10px;
	height: 40px;
}

#wallet{
	height: 40px;
	width: 106px;
	background-color: #212e48;
	border-radius: 10px;
	color: white;
}

#wallet:hover{
	background-color: #00a3ff;
}

.circule{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid gray;
}

#banner {
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	padding-top: 100px;
	padding-right: 20px;
	padding-left: 20PX;

	background-image:
		radial-gradient(circle at center, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.85) 100%),
		url(https://rainbowit.net/html/nuron/assets/images/bg/bg-image-23.jpg);
	background-size: cover;
	background-position: center;
}

#text1 {
	color: #00a3ff;
	margin-bottom: 10px;
	font-size: 16px;
}

#text2 {
	color: white;
	margin-bottom: 15px;
	font-size: 25px;
}

#text3 {
	color: gray;
	max-width: 700px;
	font-size: 18px;
}

#explore button{
	height: 55px;
	width: 160px;
	background-color: #00a3ff;
	border-radius: 10px;
	color: white;
	margin-top: 58px;
}

#explore button:hover {	
	background-color: #212e48;
}

#banner ul{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	gap: 10px;
}

#banner li{
	border: 1pxx solid grey;
	background-color: #24243557;
	width: 70px;
	height: 70px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#banner img{
	width: 50px;
	height: 50px;
}